{{define "subject"}} Welcome to our site {{end}} {{define "plainBody"}}
plainbody Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut,
molestiae ad expedita perferendis earum fuga veniam aut necessitatibus
praesentium esse, voluptas nemo aliquam nisi illo voluptate? At eum consequuntur
tempore. {{end}} {{define "htmlBody"}}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ses</title>
        <style>
            .container {
                max-width: 700px;
                padding: 16px;
                border: solid #ccc 1px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Lorem ipsum</h1>
            <p>dolor sit amet consectetur, adipisicing elit.</p>
            <p>
                Modi hic quisquam voluptatibus nulla ut earum laborum recusandae
                sapiente ratione
            </p>
            <p>
                fuga ducimus quo placeat dicta voluptatem ab pariatur tempora,
                enim omnis.
            </p>
            <br />
            <p>gsacademy</p>
            <img
                src="https://gsacademy.jp/assets/images/header/logo.svg"
                alt="gsacademy"
            />
        </div>
    </body>
</html>
{{end}}
